.home-section{
    display: flex;
    flex-direction: row;

}

.home-info{
    width:50%;
}

.home-info h1{
    font-family: 'Playfair Display', serif;
    font-size: 52px;
}



.home-videos{
    width:50%;
}

.home-buttons{
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-top: 12px;
}
.home-buttons :Link{
    text-decoration: none;
    font-size: 2rem;
    background-color: #282828;
    
}

.button-1 , .button-2{
    color:white;
    padding: .25rem;
    width: 50%;
    text-align: center;
    border-radius: 12px;
}

.button-1:hover ,.button-2:hover{
    background-color: red;
}